/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Botão principal */
#create-category {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 20px;
    display: block;
}

#create-category:hover {
    background-color: #2980b9;
}

/* Modal */
#category-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    border-radius: 5px;
}

#category-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#category-modal-header h2 {
    margin: 0;
}

#close-modal {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Inputs lado a lado */
.category-inputs {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

#category-name {
    flex-grow: 1;
    padding: 5px;
}

#category-color {
    width: 50px;
    height: 35px;
    border: none;
}

/* Botões do modal */
#save-category, #cancel-category {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

#save-category {
    background-color: #2ecc71;
    color: white;
}

#save-category:hover {
    background-color: #27ae60;
}

#cancel-category {
    background-color: #e74c3c;
    color: white;
}

#cancel-category:hover {
    background-color: #c0392b;
}

/* Estilo do título "Suas categorias" */
h2 {
    text-align: center;
    margin-top: 20px;
}

/* Lista de Categorias */
#categories-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Botões de edição e exclusão */
.btn-edit-category {
    background-color: #f1c40f; /* Amarelo */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

.btn-edit-category:hover {
    background-color: #d4ac0d;
}

.btn-delete-category {
    background-color: #e74c3c;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

.btn-delete-category:hover {
    background-color: #c0392b;
}
