.hidden {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
}

#notesContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#notesList {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-left: 1px solid #ccc;
    padding: 10px;
}

.note-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    cursor: pointer;
}